*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.container {
    max-width: 375px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#container-menu {
    background-image: url(../images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px 30px;
    min-height: 538px;
    position: relative;
}

#menu{
    display: flex;
    justify-content: space-between;
}

#menu-list {
    display: none;
    position: absolute;
    list-style: none;
    background-color: hsl(0, 0%, 100%);
    width: 315px;
    height: 300px;
    padding: 0;
    margin: 0;
    top: 110px;
    left: 30px;
}

#triangle{
    display: none;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid hsl(0, 0%, 100%);
    position: absolute;
    top: 90px;
    left: 325px;
}

.menu-link{
    width: 130px;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: hsl(213, 9%, 39%);
    padding: 15px 25px;
    margin-top: 13px;
    border-radius: 30px;
    position: relative;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);    
}

.menu-link a{
    text-decoration: none;
}

.menu-link a:visited{
    color: hsl(213, 9%, 39%);
}

#contact-link{
    font-family: 'Fraunces', serif;
    font-size: 0.9rem;
    color: black;
    background-color: hsl(51, 100%, 49%);
}

#contact-link a:visited{
    color: black;
}

#title {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2.4rem;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    margin: 67px 0;
    letter-spacing: 0.2em;
}

#transform, #stand-out{
    width: 100%;
}

.subtitle{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.7em;
    margin-top: 0px;
}

.description{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0;
    padding: 0 15px 60px 15px;
}

#transform-desktop{
    display: none;
}

#stand-out-desktop{
    display: none;
}

#transform-container .description, #stand-out-container .description{
    color: hsl(210, 4%, 67%);
    font-size: 1.05em;
    padding-bottom: 40px;
}


#transform-container .subtitle, #stand-out-container .subtitle{
    font-size: 2.2rem;
    margin-top: 60px;
}

#transform-container, #stand-out-container{
    padding-bottom: 60px;
}

.learn-link{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-thickness: 6px;
    text-underline-offset: -3px;
    font-size: 1rem;
}

#transform-container .learn-link{
    text-decoration-color: hsla(51, 100%, 49%, 0.37);
}

#transform-container .learn-link:visited{
    color:black;
}

#stand-out-container .learn-link{
    text-decoration-color: hsla(7, 99%, 70%, 0.37);
}

#stand-out-container .learn-link:visited{
    color: black;
}

#graphic-design, #photography{
    background-repeat: no-repeat;
    background-size: contain;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#graphic-design{
    background-image: url(../images/mobile/image-graphic-design.jpg);
    color: hsl(167, 40%, 24%);
}

#photography{
    background-image: url(../images/mobile/image-photography.jpg);
    color: hsl(198, 62%, 26%);
}

.testimonial-subtitle{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
    margin: 60px 0;
    color: hsl(210, 4%, 67%);
    letter-spacing: 0.2rem;
}

.author-photo{
    border-radius: 50%;
    width: 70px;
}

.testimonial{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    color: hsl(213, 9%, 39%);
    font-size: 19px;
    padding: 15px;
}

.author{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
}

.ocupation{
    font-family: 'Barlow', sans-serif;
    font-size: 0.9rem;
    color: hsl(210, 4%, 67%);
    margin-bottom: 70px;
}

#gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#gallery img{
    width: 100%;
}

#gallery-desktop{
    display: none;
}

footer{
    background-color: hsl(165, 44%, 68%);
    padding-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: hsl(167, 40%, 24%);
}

#footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Barlow', sans-serif;
    font-size: 0.9rem;
    margin-top: 30px;
    margin-bottom: 70px;
}

.footer-link{
    text-decoration: none;
    color: hsl(168, 34%, 41%);
}

#social-networks{
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-network{
    margin: 0 15px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (min-width:1440px){
    
    .container{
        max-width: 1440px;
    }
    
    #container-menu {
        background-image: url(../images/desktop/image-header.jpg);
        width: 1440px;
        height: 800px;
    }
    
    #menu{
        margin-top: 10px;
        align-items: flex-start;
        height: fit-content;
    }
    
    #menu-list{
        display: inline;
        position: static;
        background-color: transparent;
        width: fit-content;
        height: fit-content;
        margin-top: -15px;
    }
    
    #menu-button{
        display: none;
    }
    
    .menu-link{
        display: inline-block;
        width: fit-content;
        color: hsl(0, 0%, 100%);
        margin-top: 0px;
        position: static;
        transform: none;    
    }
    
    .menu-link a:visited{
        color: hsl(0, 0%, 100%);
    }

    #contact-link{
        background-color: transparent;
    }
    
    #contact-link a{
        background-color: hsl(0, 0%, 100%);
        padding: 15px 25px;
        border-radius: 30px;
    }

    #contact-link a:hover{
        background-color: hsla(0, 0%, 100%, 0.40);
        color: hsl(0, 0%, 100%);
    }

    #title{
        font-family: 'Fraunces', serif;
        font-weight: 900;
        font-size: 2.4rem;
        color: hsl(0, 0%, 100%);
        text-transform: uppercase;
        margin: 115px 0;
        letter-spacing: 0.2em;
    }
    
    #transform{
        display: none;
    }

    #transform-desktop{
        display: inline;
    }

    #transform-container{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        align-items:center;
        width: 720px;
        height: 600px;
    }

    #transform-text{
        text-align: left;
        padding: 120px;
        width: 720px;
        height: 600px;
    }

    #transform-container .learn-link:hover{
        text-decoration-color: hsla(51, 100%, 49%);
    }

    .subtitle{
        width: 400px;
    }

    .description{
        padding: 0;
    }

    #stand-out{
        display: none;
    }

    #stand-out-desktop{
        display: inline;
    }

    #stand-out-container{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        align-items:center;
        width: 720px;
        height: 600px;
    }

    #stand-out-text{
        text-align: left;
        padding: 120px;
        width: 720px;
        height: 600px;
    }

    #stand-out-container .learn-link:hover{
        text-decoration-color: hsla(7, 99%, 70%);
    }

    #design-photography-container{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
    }

    #graphic-design{
        background-image: url(../images/desktop/image-graphic-design.jpg);
        color: hsl(167, 40%, 24%);
        align-items: center;
        padding-bottom: 70px;
    }

    #graphic-design .description{
        width: 350px;
    }
    
    #photography{
        background-image: url(../images/desktop/image-photography.jpg);
        color: hsl(198, 62%, 26%);
        align-items: center;
        padding-bottom: 70px;
    }

    #photography .description{
        width: 350px;
    }

    #testimonials-container{
        display: grid;
        grid-template: 200px 420px/ 1fr 400px 1fr;
        justify-items: center;
    }

    .testimonial-subtitle{
        grid-column: 1 / 4;
        align-self: flex-end;
    }

    .testimonial-text{
        width: 400px;
    }

    #testimonial-1{
        justify-self: flex-end;
    }
    

    #testimonial-3{
        justify-self: flex-start;
    }

    #gallery{
        display: none;
    }

    #gallery-desktop{
        display: flex;
        flex-direction: row;
    }

    #gallery-desktop img{
        width: 360px;
    }

    #footer-logo{
        margin-bottom: 10px;
    }

    #footer-links{
        justify-content: center;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .footer-link{
        margin: 25px;
    }

    .footer-link:hover{
        color: hsl(0, 0%, 100%);
    }

    #social-networks{
        margin-bottom: 50px;
    }

    .social-network:hover{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(61deg) brightness(200%) contrast(101%);
    }

}